ul {
    background: #ccc;
    width: 500px;
}


div, li {
    border-top: 2px solid #333;
    height: 100px;
    list-style: none;
}

li:nth-of-type(odd) {
    background: yellow;
}

li:before {
    content: "";
    display: block;
    background: red;
    color: white;
    height: 300px;
    width: 300px;
}

/*

first-child
last-child
nth-child
nth-of-type
odd even
2n+1
*/